<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="well-custom"> 
        <%= link_to 'Novo Crawler', new_crawler_path,:class => 'pull-right btn btn-danger' %><br>
        <legend>Lista de crawlers</legend>
        <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Site name</th>
              <th>Site link</th>
              <th><i class='fa fa-shopping-cart'></i></th>
              <th>Status</th>
              <th>Console</th>
              <th colspan="3"></th>
            </tr>
          </thead>
          <tbody>
            <% @crawlers.each do |crawler| %>
              <tr>
                <td><%= crawler.site_name %></td>
                <td><%= crawler.site_link %></td>
                <td><%= crawler.products.count %></td>
                <td><%= crawler.status %></td>
                <td><%= crawler.console.name if crawler.console.present? %></td>
                <td><%= link_to 'Show', crawler %></td>
                <td><%= link_to 'Edit', edit_crawler_path(crawler) %></td>
                <td><%= link_to 'Destroy', crawler, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        </div>
        <br>     
      </div>
    </div>
  </div>
</div>