<h1>Listing crawlers</h1>

<table>
  <thead>
    <tr>
      <th>Site name</th>
      <th>Site link</th>
      <th>Product price</th>
      <th>Product title</th>
      <th>Product image</th>
      <th>Product link</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @crawlers.each do |crawler| %>
      <tr>
        <td><%= crawler.site_name %></td>
        <td><%= crawler.site_link %></td>
        <td><%= crawler.product_price %></td>
        <td><%= crawler.product_title %></td>
        <td><%= crawler.product_image %></td>
        <td><%= crawler.product_link %></td>
        <td><%= crawler.status %></td>
        <td><%= link_to 'Show', crawler %></td>
        <td><%= link_to 'Edit', edit_crawler_path(crawler) %></td>
        <td><%= link_to 'Destroy', crawler, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Crawler', new_crawler_path %>
